body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: Arial, sans-serif; /* Change the font family as needed */
  font-size: 36px; /* Adjust the font size as needed */
  color: #000000; /* Change the color to your preferred brand color */
  text-transform: uppercase; /* Convert text to uppercase if desired */
  letter-spacing: 2px; /* Adjust letter spacing for your preference */
  font-weight: bold; /* Adjust font weight as needed */
  text-align: center; /* Center the text if necessary */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  text-align: center;
  color: white;
}

/* In your CSS or stylesheet */
.custom-button {
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Text color */
  padding: 2px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add some rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  margin: 2px;
  /* Add more CSS rules as desired */
}

.custom-input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 25%;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  margin-left: 5px;
}

.custom-input:focus {
  border-color: #007bff; /* Change the border color when input is focused */
}


/* ShopRite.css */

/* ShopRite.css */

.shoprite-card {
  border: 3px solid #000000;
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shoprite-card img {
  max-width: 150px;
  height: 150px;
  margin-bottom: 20px; /* Add margin to create consistent space */
}

.shoprite-card h3 {
  font-size: 16px;
  margin: 0; /* Reset margin to avoid extra space */
}

.shoprite-card p {
  margin: 8px 0; /* Add margin for spacing between elements */
}

.shoprite-product-cards {
  display: flex;
  flex-wrap: wrap;
}

.product-name-box {
  height: 70px;
  width: auto;
  margin-top: 30px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.product-price-box {
  height: 20px;
  width: auto;
  margin-top: 0px;
  text-align: center;
  font-size: 35px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: solid;
}

.product-size-box {
  height: 20px;
  width: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: solid;
}